<!doctype html>
<html lang="en">

<head>
  {%load static%}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>MIMS</title>
  <link rel='icon' href='{% static "medicareOne/img/logo.ico"%}'>
  <style>
    body {
      background-image:url('{% static "medicareOne/img/dark_leather_4k.jpg"%}');
    }
  </style>
  <link rel="stylesheet" href='{% static "responsive.css"%}'>
</head>

<body style=background-size:cover;>
  <div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand navimg" href="/"><img src='{% static "medicareOne/img/logo.png"%}' width=20%
          height=20%><span class="madi"> Medicare Institute of Medical Science</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/courses">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faculty">Faculty Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/elitest">Elite Students</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About Us
            </a>
            <div class="container" style="margin-right: 10px;">
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/iaag">Institute at a Glance</a>
                <a class="dropdown-item" href="/administration">Administration</a>
                <a class="dropdown-item" href="/leadership">Leadership</a>

                <a class="dropdown-item active" href="#">About the Institute</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container"
    style=' margin-bottom:80px;backdrop-filter: blur(102px);margin-top:130px;background-color:rgba(169, 169, 169, 0.205);box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);'>
    <h2 class='text-center text-white pb-1'>About the Institute</h2>

    <!-- <img style='margin-left: 20%; margin-bottom:20px;margin-top:20px;border:burlywood 5px solid;' src='{% static "medicareOne/img/ati.jpg"%}'> -->
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <img src='{% static "medicareOne/img/college.png"%}'
          style="margin-left: 15%; margin-top: 4%; width: 70%; height:auto;">
      </div>
      <div class="col-sm-6 para" align=center>
        <p style="text-align:justify;margin-top: 10%;color: white;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
          <b>मेडीकेयर इन्स्टीट्यूट ऑफ मेडिकल सांईस मानव संसाधन विकास मंत्रालय भारत सरकार व एन.आई.ओ.एस., मेडिकल साइंस
          युनिर्वसिटी जबलपुर, म.प्र.
          पेरामेडीकल काउंसिल भोपाल द्वारा मान्यता प्राप्त राजगढ़ एवं शाजापुर जिले का एक मात्र आधुनिक शिक्षण सुविधाओं से
          युक्त पेरामेडिकल शिक्षण संस्थान है। अनुभवी शिक्षक, श्रेष्ठ परिणाम एवं आधुनिक शिक्षण पद्धति के आधार पर मेडिकेयर
          इन्स्टीट्यूट ऑफमेडिकल साँईस विगत 13 वर्षों से श्रेष्ठता सिद्ध करता आ रहा है।</b></p><br>
        <p style="text-align:justify;color: white;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>पैरामेडीकल के क्षेत्र में उच्च प्रशिक्षित प्रोफेशनलस् के निर्माण हेतु कृत
          संकल्पित मेडीकेयर इन्स्टीट्यूट ऑफ मेडिकल साँईस आपके क्षेत्र का अग्रणी
          शिक्षण संस्थान है। रानी रूपमती की नगरी सारंगपुर में 2006 में स्थापितमेडीकेयर इन्स्टीट्यूट ऑफ मेडिकल साँईस अपने
          विशाल आधुनिक एवं सर्वसुविधायुक्त परिसर, उत्कृष्ट शिक्षण पद्धति और अनुभवी शिक्षकों के संयोजन से प्रतिवर्ष 200
          से भी अधिक छात्रों को प्रशिक्षण प्रदान करते हुए संस्थान चिकित्सा व्यवसाय की आवश्यकताओं के अनुरूप उच्च स्तरीय
          प्रशिक्षण हेतुप्रतिबद्ध है। 100 % प्लेसमेंट के लिए प्रसिद्ध राजगढ़ एवं शाजापुर जिले का सर्वप्रथम स्थापित
          एकमात्र पेरामेडीकल शिक्षणसंस्थान नित नए आयाम स्पर्श कर रहा है।</b></p>
      </div>
    </div>
    <br>
    <br>
    </div>
 <!----------------Footer--------------->
 <footer class="p-3 text-center" style='background-color: #f8f9fa;'>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Copyright &copy; 2020,Shulin Developers</h3>
        <h6>All Rights Reserved</h6>
        <h6>Developed & Maintained by
          <i class="fa fa-users"></i>
          <a class="text-warning" href="https://github.com/MAPx-IT-Solutions" target="_blank">
            Shulin Developers
          </a>
          <div>Contact: <i class="fa fa-envelope-open"></i> patidarpriyanshu921@gmail.com </i> <i class="fab fa-whatsapp"></i>
            +91 8463833378 <i class="fas fa-mobile-alt"></i> +91 8319800658</div>
        </h6>
      </div>
    </div>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
</body>

</html>